src/resources/sm/dlc-override-sm.json
{
  "Comment": "State Machine for DLC Override Service",
  "StartAt": "Try",
  "States": {
    "Try": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Log Request",
          "States": {     
            "Log Request": {
              "Type": "Pass",
              "Next": "Create LC Override Policy",
              "Parameters": {
                "action": "createDLCPolicy",
                "request.$": "$"
              }
            },
            "Create LC Override Policy": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:${self:provider.region}:${aws:accountId}:function:load-control-statemachine-fn"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "Next": "Map",
              "ResultSelector": {
                "Payload.$": "$.Payload"
              }
            },
            "Map": {
              "Type": "Map",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "DISTRIBUTED",
                  "ExecutionType": "EXPRESS"
                },
                "StartAt": "If Policy Creation Succeeded",
                "States": {
                  "If Policy Creation Succeeded": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Not": {
                          "Variable": "$.statusCode",
                          "NumericEquals": 200
                        },
                        "Next": "Internal Fail"
                      }
                    ],
                    "Default": "Policy Deployment Wait"
                  },
                  "Internal Fail": {
                    "Type": "Pass",
                    "End": true
                  },
                  "Policy Deployment Wait": {
                    "Type": "Wait",
                    "TimestampPath": "$.deploy_start_datetime",
                    "Next": "Prepare Deploy Policy Request"
                  },
                  "Prepare Deploy Policy Request": {
                    "Type": "Pass",
                    "Parameters": {
                      "action": "deployDLCPolicy",
                      "request.$": "$.request",
                      "policyID.$": "$.policyID"
                    },
                    "Next": "Deploy LC Override Policy"
                  },
                  "Deploy LC Override Policy": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "Payload.$": "$",
                      "FunctionName": "arn:aws:lambda:us-east-1:109533178637:function:dlc_override_statemachine_fn:$LATEST"
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException"
                        ],
                        "IntervalSeconds": 2,
                        "MaxAttempts": 6,
                        "BackoffRate": 2
                      }
                    ],
                    "ResultSelector": {
                      "Payload.$": "$.Payload"
                    },
                    "ResultPath": "$.deployDLCPolicyTaskResult",
                    "Next": "If Policy Deployment Succeeded"
                  },
                  "If Policy Deployment Succeeded": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Not": {
                          "Variable": "$.deployDLCPolicyTaskResult.Payload.statusCode",
                          "NumericEquals": 200
                        },
                        "Next": "Internal Fail"
                      }
                    ],
                    "Default": "Internal Success"
                  },
                  "Internal Success": {
                    "Type": "Pass",
                    "End": true
                  }
                }
              },
              "End": true,
              "InputPath": "$.Payload",
              "Label": "Map",
              "MaxConcurrency": 100
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.Runtime"
          ],
          "Next": "Build Failure Message"
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Build Failure Message"
        }
      ],
      "Next": "Success"
    },
    "Build Failure Message": {
      "Type": "Pass",
      "Next": "Failure Handler",
      "Parameters": {
        "errorMessage": {
            "subject": "Alarm: dlc-override-processors-sm Failed",
            "reason.$": "$.Error",
            "stackTrace.$": "$.Cause",
            "time.$": "$$.State.EnteredTime",
            "priority": "P1",
            "accountId": "None"
        }
      }
    },
    "Failure Handler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Subject": "Alarm: DLC Override State Machine Failed",
        "Message.$": "States.JsonToString($.errorMessage)",
        "MessageAttributes": {
          "alias": {
            "DataType": "String",
            "StringValue.$": "$.errorMessage.subject"
          },
          "tags": {
            "DataType": "String",
            "StringValue": "MSI, Load Control"
          },
          "priority": {
            "DataType": "String",
            "StringValue.$": "$.errorMessage.priority"
          }
        },
        "TopicArn": "${self:custom.SUPPORT_SNS_ARN}"
      },
      "Next": "Fail"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}